@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  overflow: hidden;
}

body {
  background-color: hsl(235deg, 21%, 11%);
}

::-webkit-scrollbar {
  width: 2px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: hsl(235deg, 24%, 19%);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Todo .Todo__header {
  background-image: url("/assets/images/bg-mobile-dark.jpg");
  background-repeat: no-repeat;
  background-size: min(100%, 608px) 300px;
  width: 100%;
  height: 250px;
}
@media (min-width: 600px) {
  .Todo .Todo__header {
    background-image: url("/assets/images/bg-desktop-dark.jpg");
    background-size: cover !important;
    height: 290px !important;
  }
}
.Todo .Todo__container {
  position: relative;
  top: -11rem;
  width: min(600px, 85%);
}
.Todo .Todo__container .Todo__head {
  display: flex;
  justify-content: space-between;
  justify-content: baseline;
}
.Todo .Todo__container .Todo__head .Todo-logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 2rem;
  font-weight: 700;
}
.Todo .Todo__container .Todo__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin: 2rem 0 1.5rem 0;
  width: 100%;
  padding: 0.3rem 1.2rem;
  background-color: hsl(235deg, 24%, 19%);
}
.Todo .Todo__container .Todo__text .check-logo-cont {
  flex-basis: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid hsl(237deg, 14%, 26%);
}
.Todo .Todo__container .Todo__text #TodoTextInput {
  flex-basis: calc(100% - 40px);
  padding: 0.8rem 0rem;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: hsl(235deg, 24%, 19%);
  caret-color: white;
  color: hsl(234deg, 39%, 85%);
}
.Todo .Todo__container .Todo__text #TodoTextInput ::-moz-placeholder {
  color: hsl(234deg, 11%, 52%);
}
.Todo .Todo__container .Todo__text #TodoTextInput :-ms-input-placeholder {
  color: hsl(234deg, 11%, 52%);
}
.Todo .Todo__container .Todo__text #TodoTextInput ::placeholder {
  color: hsl(234deg, 11%, 52%);
}
.Todo .Todo__container .Todo-container__overflow {
  border-radius: 5px;
}
.Todo .Todo__container .Todo-container__overflow .Todo-task__container {
  overflow: scroll;
  height: 50vh;
}
.Todo .Todo__container .Todo-container__overflow .Todo-task__container .Todo-list-cont {
  background-color: hsl(235deg, 24%, 19%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid hsl(237deg, 14%, 26%);
  cursor: -webkit-grab;
  cursor: grab;
}
.Todo .Todo__container .Todo-container__overflow .Todo-task__container .Todo-list-cont:hover .cross-logo, .Todo .Todo__container .Todo-container__overflow .Todo-task__container .Todo-list-cont:active .cross-logo {
  display: block !important;
  cursor: pointer;
}
.Todo .Todo__container .Todo-container__overflow .Todo-task__container .Todo-list-cont .Todo-list-sub-cont {
  display: flex;
  align-items: center;
  flex-basis: 80%;
}
.Todo .Todo__container .Todo-container__overflow .Todo-task__container .Todo-list-cont .Todo-list-sub-cont .cont {
  width: 30px;
}
.Todo .Todo__container .Todo-container__overflow .Todo-task__container .Todo-list-cont .Todo-list-sub-cont .cont .check-logo-cont {
  flex-basis: 20px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid hsl(237deg, 14%, 26%);
}
.Todo .Todo__container .Todo-container__overflow .Todo-task__container .Todo-list-cont .Todo-list-sub-cont .cont .check-logo-cont:hover {
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid transparent;
  -o-border-image: linear-gradient(60deg, hsl(192deg, 100%, 67%) 10%, hsl(280deg, 87%, 65%) 100%);
     border-image: linear-gradient(60deg, hsl(192deg, 100%, 67%) 10%, hsl(280deg, 87%, 65%) 100%);
  border-image-slice: 1;
}
.Todo .Todo__container .Todo-container__overflow .Todo-task__container .Todo-list-cont .Todo-list-sub-cont .Todo-task {
  padding: 0.8rem 0 0.8rem 1.1rem;
  font-size: 1rem;
  color: hsl(234deg, 39%, 85%);
  width: clamp(187px, 66vw, 387px);
}
.Todo .Todo__container .Todo-container__overflow .Todo-task__container .Todo-list-cont .Todo-list-sub-cont .Todo-task:hover {
  cursor: pointer;
}
.Todo .Todo__container .Todo-container__overflow .Todo-task__container .Todo-list-cont .cross-logo-cont {
  width: 25px;
  flex-basis: 25px;
}
.Todo .Todo__container .Todo-container__overflow .Todo-task__container .Todo-list-cont .cross-logo-cont .cross-logo {
  text-align: end;
  display: none;
}
.Todo .Todo__container .Todo-container__overflow .Todo-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 1rem;
  font-size: 0.8rem;
  background-color: hsl(235deg, 24%, 19%);
}
.Todo .Todo__container .Todo-container__overflow .Todo-info .total-items-left {
  color: hsl(233deg, 14%, 35%);
}
.Todo .Todo__container .Todo-container__overflow .Todo-info .clear-item {
  color: hsl(233deg, 14%, 35%);
}
@media (min-width: 600px) {
  .Todo .Todo__container .Todo-container__overflow .Todo-info {
    display: none;
  }
}
.Todo .Todo__container .Todo-container__overflow .Todo-status-container {
  display: flex;
  align-items: center;
  padding: 1.2rem 1rem;
  margin-top: 1rem;
  font-size: 0.8rem;
  justify-content: center;
  background-color: hsl(235deg, 24%, 19%);
  color: hsl(233deg, 14%, 35%);
}
@media (min-width: 600px) {
  .Todo .Todo__container .Todo-container__overflow .Todo-status-container {
    justify-content: space-between !important;
  }
}
.Todo .Todo__container .Todo-container__overflow .Todo-status-container .Todo-status {
  display: flex;
  justify-content: space-evenly;
}
.Todo .Todo__container .Todo-container__overflow .Todo-status-container .Todo-status .Active-status {
  margin: 0 1rem;
}
.Todo .Todo__container .Todo-container__overflow .Todo-status-container .total-items-left {
  display: none;
}
@media (min-width: 600px) {
  .Todo .Todo__container .Todo-container__overflow .Todo-status-container .total-items-left {
    display: block !important;
  }
}
.Todo .Todo__container .Todo-container__overflow .Todo-status-container .clear-comp-status {
  display: none;
}
@media (min-width: 600px) {
  .Todo .Todo__container .Todo-container__overflow .Todo-status-container .clear-comp-status {
    display: block !important;
  }
}/*# sourceMappingURL=main.css.map */